.alert {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 1em;
  transform: translate(-50%);
  width: 60%;
  padding: 1em;
  background: transparent;
  color: #fff;
  font-weight: 700;
}

.success {
  text-align: center;
  display: block;
  background: #53bd52;
}

.fail {
  text-align: center;
  display: block;
  background: red;
}
